# Pandas per analisi esplorative su dataset

Esempi di fonti per trovare dataset:  
https://www.kaggle.com  
http://mlr.cs.umass.edu/ml/datasets.html  

Questo dataset riguarda informazioni demografiche sul personale.  
Fonte: https://www.ibm.com/communities/analytics/watson-analytics-blog/american-time-use-survey/

In [1]:
import pandas as pd

### Importare ed esportare file a e da un Pandas dataframe

Per importare **csv** usiamo **pd.read_csv()**  
Per importare **excel** usiamo **pd.read_excel()**  
Per importare **JSON** usiamo **pd.read_json()**  
...  

Per esportare **csv** a partire da un Pandas dataframe modifichiamo usiamo  
nome_dataframe**.to_csv(**nome_nuovofile**)**

Puoi richiamare **help(**pd.DataFrame.to_csv**)** per esplorare tutte le opzioni di esportazione.

Ricordiamo che utilizziamo **pd** per come abbiamo importato la libreria **pandas** all'inizio

In [2]:
# Controlliamo di aver salvato il file csv dentro la sottocatella data
survey = pd.read_csv('data/WA_American-Time-Use-Survey-lite.csv')

In [3]:
survey.head()

,Education Level,Age,Age Range,Employment Status,Gender,Children,Weekly Earnings,Year,Weekly Hours Worked,Sleeping,...,Caring for Children,Playing with Children,Job Searching,Shopping,Eating and Drinking,Socializing & Relaxing,Television,Golfing,Running,Volunteering
0,High School,51,50-59,Unemployed,Female,0,0,2005,0,825,...,0,0,0,0,40,180,120,0,0,0
1,Bachelor,42,40-49,Employed,Female,2,1480,2005,40,500,...,365,20,0,120,40,15,15,0,0,0
2,Master,47,40-49,Employed,Male,0,904,2005,40,480,...,0,0,0,15,85,214,199,0,0,0
3,Some College,21,20-29,Employed,Female,0,320,2005,40,705,...,0,0,0,105,30,240,240,0,0,0
4,High School,49,40-49,Not in labor force,Female,0,0,2005,0,470,...,0,0,0,0,35,600,40,0,0,0

## Utilizza tutti i comandi visti insieme per esplorare il dataset importato

Il miglior modo per esplorare un dataset è partire dalla tua curiosità, inizia a porti domande e trova il modo per risponderti. :)

## Appendice: importare csv senza la libreria Pandas

Per completezza accenniamo alla possibilità di usare la funzione **open()** dalla libreria standard di Python con una **list comprehension** per andare ad importarci il nostro csv come una lista di stringhe.

Per maggiori infomazioni: https://docs.python.org/3/library/functions.html#open

In [4]:
path = 'data/WA_American-Time-Use-Survey-lite.csv'

Utilizziamo **strip()** per togliere il simbolo a fine di ogni osservazione '\n', e **split(',')** (attenzione a verificare che non ci siamo valori con contengano la virgola, nel  caso si dovranno utilizzare altre strade).

In [5]:
dataset = [line.strip().split(',') for line in open(path)]

In [6]:
type(dataset)

list

In [7]:
dataset[0]

['Education Level',
 'Age',
 'Age Range',
 'Employment Status',
 'Gender',
 'Children',
 'Weekly Earnings',
 'Year',
 'Weekly Hours Worked',
 'Sleeping',
 'Grooming',
 'Housework',
 'Food & Drink Prep',
 'Caring for Children',
 'Playing with Children',
 'Job Searching',
 'Shopping',
 'Eating and Drinking',
 'Socializing & Relaxing',
 'Television',
 'Golfing',
 'Running',
 'Volunteering']

In [8]:
dataset[1]

['High School',
 '51',
 '50-59',
 'Unemployed',
 'Female',
 '0',
 '0',
 '2005',
 '0',
 '825',
 '80',
 '150',
 '45',
 '0',
 '0',
 '0',
 '0',
 '40',
 '180',
 '120',
 '0',
 '0',
 '0']

Ci sono diverse strade che si possono prendere per importare file ed elaborarli (ad esempio il modulo dedicato **csv**), nel corso delle nostre lezioni continueremo ad utilizzare **Pandas**.