# Oggetti in Python

Tutto è un oggetto in Python, il valore di certi oggetti può cambiare.  
Se può cambiare sono oggetti mutabili, se il valore non può cambiare sono detti immutabili.

### Mutabile (buil-in types)

* list
* dictionary
* set

### Immutabile objects (buil-in types)

* int
* float 
* bool 
* str
* tuple

## str, immutabile
Verifichiamo che l'oggetto di tipo **str** sia immutabile.  
Se è immutabile quando si prova ad aggiornare il suo valore se ne creerà uno nuovo con un diverso indice.

In [22]:
nome = 'Andrea'
id(nome)

4419567152

In [23]:
nome = 'Elena'
id(nome)

4420088416

In [24]:
nome is 'Elena'

True

In [25]:
name = 'Elena'

In [26]:
nome is name

True

In [27]:
nome == 'Elena'

True

In [28]:
nome == name

True

## int, immutabile
Verifichiamo che l'oggetto di tipo **int** sia immutabile.

In [29]:
type(2018)

int

In [30]:
year=2017
id(year)

4419394544

In [31]:
year=2018
id(year)

4419394480

## list, mutabile
Ora verifichiamo che l'oggetto di tipo **list** sia mutabile.  
In questo caso ci aspettiamo lo stesso indice anche dopo aver aggironato il suo valore.

In [32]:
list1=[1,2,3]
type(list1)

list

In [33]:
id(list1)

4420164296

In [34]:
lista=list1.append(8)
id(list1)

4420164296

In [35]:
list1.append(8)
list1

[1, 2, 3, 8, 8]

In [36]:
print(lista)

None

### Conversioni in basi diverse

In [37]:
0b10 # 10 da binario a decimale

2

In [38]:
0o10 # 10 da base 8 a decimale

8

In [39]:
0x10 # 10 da base 16 a decimale

16

In [40]:
int(3.4)

3

In [41]:
int(3.7)

3

In [42]:
int('37')

37

In [43]:
type('37'), type(int('37'))

(str, int)

In [44]:
int('100', 2) # converto la stringa '100' in un intero 100 e lo converte in base 2

4

In [45]:
3e8 # 3 * 10^8

300000000.0

In [46]:
3.1e-3

0.0031

In [47]:
float('nan')

nan

## Altri oggetti build-in e loro metodi

https://docs.python.org/3/library/stdtypes.html

## Collezioni

* list
* dictionary
* set

## list

In [48]:
semi = 'cuori, quadri, fiori'.split(',') 
semi

['cuori', ' quadri', ' fiori']

In [49]:
semi.append('picche')
semi

['cuori', ' quadri', ' fiori', 'picche']

In [50]:
semi.pop()
semi

['cuori', ' quadri', ' fiori']

In [51]:
range(9) # range è un tipo build-in immutabile

range(0, 9)

In [52]:
list(range(5,51,5)) # da 5 a 50 a passi ad 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [53]:
digits = list(range(10)) # list converte un range in lista
digits

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
digits.sort(reverse=True) # ordinamento dal più grande al più piccolo
digits

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [55]:
7 in digits

True

In [56]:
18 in digits

False

In [57]:
digits

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [58]:
# Inizializzo una lista vuota
fisici=[]
fisici

[]

In [59]:
fisici.append('Feynman')
fisici

['Feynman']

In [60]:
# Posso avere una lista dentro una lista e diversi formati
fisici.append([3.14, 2.72])
fisici

['Feynman', [3.14, 2.72]]

## dictionary

In [61]:
# Posso inizializzare un dizionario vuoto
ds= {}
ds

{}

In [62]:
ds['np']='NumPy'
ds

{'np': 'NumPy'}

In [63]:
ds[1]='Pandas'
ds

{'np': 'NumPy', 1: 'Pandas'}

In [64]:
# Posso creare direttamente un dizionario con voci iniziali
ds2 = {'np': 'NumPy', 
       'pd': 'Pandas' }
ds2

{'np': 'NumPy', 'pd': 'Pandas'}

# set

In [65]:
# Genero set a partire da liste
a = [1,2,3,4,5,6]
seta = set(a) 

b = [4,5,6,7,8,9,100]
setb = set(b)

In [66]:
# Tolgo l'intersezione fra i due set dal primo set (seta)
seta-setb, type(seta-setb)

({1, 2, 3}, set)

In [67]:
# Tolgo l'intersezione fra i due set dal secondo set (setb)
setb-seta

{7, 8, 9, 100}

In [68]:
# Unione set
seta | setb

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [69]:
# Interesezione
seta & setb

{4, 5, 6}

In [70]:
# Unione degli elementi dei due set senza la loro intersezione
seta ^ setb

{1, 2, 3, 7, 8, 9, 100}