# Oggetti in Python

Tutto è un oggetto in Python, il valore di certi oggetti può cambiare.  
Se può cambiare sono oggetti mutabili, se il valore non può cambiare sono detti immutabili.

### Immutabile objects (buil-in types)

* int
* float 
* bool 
* str
* tuple

### Mutabile (buil-in types)

* list
* dictionary
* set

In [1]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

## str, immutabile
Verifichiamo che l'oggetto di tipo **str** sia immutabile.  
Se è immutabile quando si prova ad aggiornare il suo valore se ne creerà uno nuovo con un diverso indice.

In [2]:
nome = 'Andrea'
print(type(nome), nome) 
print(id(nome))

<class 'str'> Andrea
4547940624

In [3]:
nome = nome + ' Elena'
print(type(nome), nome) 
print(id(nome))

<class 'str'> Andrea Elena
4548593136

## int, immutabile
Verifichiamo che l'oggetto di tipo **int** sia immutabile.

In [4]:
year = 2017
print(type(year), year) 
print(id(year))

<class 'int'> 2017
4548404496

In [5]:
year = year + 1
print(type(year), year) 
print(id(year))

<class 'int'> 2018
4547340016

## list, mutabile
Ora verifichiamo che l'oggetto di tipo **list** sia mutabile.  
In questo caso ci aspettiamo lo stesso indice anche dopo aver aggironato il suo valore.

In [6]:
punteggio = [4,2,3,5,4,2,2]
print(type(punteggio), punteggio) 
print(id(punteggio))

<class 'list'> [4, 2, 3, 5, 4, 2, 2]
4547810312

In [7]:
punteggio.append(5) 
print(type(punteggio), punteggio) 
print(id(punteggio))  # stesso id, è la lista che muta, ha un elemento in più

<class 'list'> [4, 2, 3, 5, 4, 2, 2, 5]
4547810312

### Conversioni in basi diverse

In [8]:
0b10 # 10 da binario a decimale

2

In [9]:
0o10 # 10 da base 8 a decimale

8

In [10]:
0x10 # 10 da base 16 a decimale

16

### Altre manipolazioni di numeri

In [11]:
int(3.4)

3

In [12]:
int(3.7)

3

In [13]:
int('37')

37

In [14]:
type('37'), type(int('37'))

(str, int)

In [15]:
int('100', 2) # converto la stringa '100' in un intero 100 e lo converte in base 2

4

In [16]:
3e8 # 3 * 10^8

300000000.0

In [17]:
3.1e-3

0.0031

In [18]:
float('nan')

nan

## Oggetti build-in e alcuni loro metodi

https://docs.python.org/3/library/stdtypes.html

## tuple, immutable

In [19]:
linguaggi = ('Pyhton', 'Rust', 'C', 'JavaScript') # creaiamo una tupla con le parentesi tonde
print(linguaggi)
print(type(linguaggi))

('Pyhton', 'Rust', 'C', 'JavaScript')
<class 'tuple'>

In [20]:
linguaggi[1]

'Rust'

In [21]:
linguaggi[:2]

('Pyhton', 'Rust')

## list, mutable

In [22]:
semi = 'cuori, quadri, fiori'.split(',') # possiamo creare una lista 'splittando' una stringa, 
print(semi) # la lista è sempre identificata dalle parentesi quadre
print(type(semi))

['cuori', ' quadri', ' fiori']
<class 'list'>

In [23]:
semi.append('picche')
semi

['cuori', ' quadri', ' fiori', 'picche']

In [24]:
semi.pop()
semi

['cuori', ' quadri', ' fiori']

In [25]:
range(9) # range è un tipo build-in immutabile

range(0, 9)

In [26]:
list(range(5,51,5)) # da 5 a 50 a passi ad 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [27]:
digits = list(range(10)) # list converte un range in lista
digits

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
digits.sort(reverse=True) # ordinamento dal più grande al più piccolo
digits

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [29]:
7 in digits

True

In [30]:
18 in digits

False

In [31]:
digits

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [32]:
# Inizializzo una lista vuota
fisici=[]
fisici

[]

In [33]:
fisici.append('Feynman')
fisici

['Feynman']

In [34]:
# Posso avere una lista dentro una lista e diversi formati
fisici.append([3.14, 2.72])
fisici

['Feynman', [3.14, 2.72]]

## dictionary

In [35]:
# Posso inizializzare un dizionario vuoto usando le parentesi graffe
ds = {}
ds

{}

In [36]:
ds['np']='NumPy'
ds

{'np': 'NumPy'}

In [37]:
ds[1]='Pandas'
ds

{'np': 'NumPy', 1: 'Pandas'}

In [38]:
# Posso creare direttamente un dizionario con voci iniziali
ds2 = {'np': 'NumPy', 
       'pd': 'Pandas' }
ds2

{'np': 'NumPy', 'pd': 'Pandas'}

# set

In [39]:
# Genero set a partire da liste
a = [1,2,3,4,5,6]
seta = set(a) 

b = [4,5,6,7,8,9,100]
setb = set(b)

In [40]:
# Tolgo l'intersezione fra i due set dal primo set (seta)
seta-setb, type(seta-setb)

({1, 2, 3}, set)

In [41]:
# Tolgo l'intersezione fra i due set dal secondo set (setb)
setb-seta

{7, 8, 9, 100}

In [42]:
# Unione set
seta | setb

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [43]:
# Interesezione
seta & setb

{4, 5, 6}

In [44]:
# Unione degli elementi dei due set senza la loro intersezione
seta ^ setb

{1, 2, 3, 7, 8, 9, 100}

## It's play time!

Per ogni tipo di oggetto creato (stringhe, int, tuple, liste, dizionari... ):
* Applica tutti i metodi visti insieme
* Trova nella documentazione di Python altri metodi e provali